.files{
    display: none;
}

span.glyphicon-download-alt {
    font-size: 3.8em;
    color: #00000059;
}

@media(min-width:992px){
.upload-pic{
    background-color: #e0dcdc82;
    height: 180px;
    border-radius: 5px;
    outline: 2px dashed black;
    outline-offset: -10px;
    outline-color: #bfb5b5;
	margin-left: -4% !important;
}
}


@media(min-width:1025px){
	.upload-pic{
    background-color: #e0dcdc82;
    height: 180px;
    border-radius: 5px;
    outline: 2px dashed black;
	 outline-offset: -10px;
    outline-color: #bfb5b5;
}
}

@media(min-width:992px){
	.upload-area{
    position: relative;
    margin: auto;
    top: 24px;
    left: -34px;
	margin-bottom: 15px;
}	
}
@media(min-width:1025px){
.upload-area{
    position: relative;
    margin: auto;
    top: 24px;
    left: 6px;
	margin-bottom: 15px;
}
}



.fileUpload-label{
    margin-left: 49px;
    margin-top: 15px;
    color: grey;
}

@media(min-width:992px)and(max-width:1199px){
    .slider{
        width: 300px !important;
        display: block !important;
    }
} 

@media(min-width:1200px)and(max-width:1241px){
    .slider{
        width: 313px !important;
        display: block !important;
    }
} 

@media(min-width:1242px){
    .slider{
        width: 326px !important;
        display: block !important;
    }
}


.b-1{
	position: relative;
	bottom: 1px !important;
}

.t-10{
	position: relative;
	top: 18px !important;
}

.m-t-10{
	margin-top: 10px;
	margin-right: -15px;
}

.margin-t-10{
	margin-top: 10px;
}

.slider-range{
	position: relative;
	color: #748eda;
    font-weight: bold;
	display: grid;
}

.slider-input{
	margin-left: 12px;
    margin-right: 5px;
	-webkit-appearance: none;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
    height: 5px;
}

.slider-input:hover {
    opacity: 1;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #147EC7;
    cursor: pointer;
}

.btns-grp{
    top: 30px;
    position: relative;
}

.btn-spacing{
    margin-left: 5px;
}

.level-btn{
    margin-top: 20px;
}

.status-green{
    width: 55px;
    height: 44px;
    background-color: #1cdc1c;
    text-align: center;
}

.status-blue{
    width: 55px;
    height: 44px;
    margin-top: 20px;
    background-color: #261cdc;
    text-align: center;
}

.status-red{
    width: 55px;
    height: 44px;
    margin-top: 20px;
    background-color: #f11f01;
    text-align: center;
}

.input-field{
    margin-left: 1%;
}

@media(min-width: 1020px){
.input-level{
    margin-left: -30px;
}
}

@media(min-width: 992px){
.input-level{
    margin-left: 8px;
}
}


.margin-t-20{
    margin-top: 20px;
}

.status-btn{
    width: 72px;
    height: 47px;
    color: black;
    font-weight: bold;
}

.add-associate{
    position: relative;
    top: 0px;
    height: 100vh;
} 

body{
    overflow-x: hidden;
    width: 103%;
    margin-top: -20px;
    height: 100vh;
}

.header{
    color: black;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-top: 47px;
}

.header-div{
    margin-top: -20px;
    margin-left: -16px;
    height: 120px;
    margin-bottom: 15px;
}

h3{
    display: inline-block;
    margin-left: 400px;
    text-align: right;
}

h1{
    display: inline-block;
}

.preview-image{
	width: 212px;
    height: 161px;
    position: relative;
    bottom: 64px;
    right: 78px;
}