<html>
  <body>
    <div class="container-fluid no-gutter add-associate">
    <div class="header-div">
      <h1 class="header col-lg-offset-1">
        Add New Associate
        <!-- <h3><i>REGISTER ASSOCIATE DETAILS FORM</i></h3> -->
      </h1>
    </div>
<form novalidate #addAssociateForm="ngForm" class="form-horizontal" (ngSubmit)="addAssociate(addAssociateForm)">    
<div class="row">
  <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <label class="col-md-4 col-lg-4 col-xs-1 control-label">Name</label>
        <div class="col-md-8 col-lg-8 col-xs-2">
          <input type="text" class="form-control" name="associateName" [(ngModel)]="associateName" maxlength="20" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-lg-4 col-xs-1 control-label">Associate ID</label>
        <div class="col-md-8 col-lg-8 col-xs-2">
          <input type="text" class="form-control" name="associateId" [(ngModel)]="associateId" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-lg-4 col-xs-1 control-label">Email</label>
        <div class="col-md-8 col-lg-8 col-xs-2">
          <input type="text" class="form-control" name="email" [(ngModel)]="email" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-lg-4 col-xs-1 control-label">Mobile</label>
        <div class="col-md-8 col-lg-8 col-xs-2">
          <input type="text" class="form-control" name="mobile" [(ngModel)]="mobile" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-lg-2 col-lg-offset-2 col-xs-1">Gender</label>
          <input type="radio" name="gender" [(ngModel)]="gender" value="male">Male
          <input type="radio" name="gender" [(ngModel)]="gender" value="female">Female
      </div>
    </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-2 input-field upload-pic">
		<div>
		<label for="upload" class="fileUpload-label">
		  <a class="btn btn-outline-info btn-lg upload-area">
		  <span *ngIf="!localUrl" class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br/>
		  <input type="file" id="upload" name="pic" accept="image/*" class="files" (change)="selectFile($event)">
		  <img [src]="localUrl" *ngIf="localUrl" class="preview-image">
		  </a>
		 <!-- Upload Pic Here -->
		  </label>
		</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 input-field">
          <button type="button" [attr.disabled]="greenStatusClicked" class="btn btn-success status-btn" (click)="statusGreenOnClick()">Status<br/>Green</button>
          <button type="button" [attr.disabled]="blueStatusClicked" class="btn btn-primary level-btn status-btn" (click)="statusBlueOnClick()">Status<br/>Blue</button>
          <button type="button" [attr.disabled]="redStatusClicked" class="btn btn-danger level-btn status-btn" (click)="statusRedOnClick()">Status<br/>Red</button>
       </div>
       <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 input-level">
          <input type="button" class="btn btn-secondary btn-lg" value="L1" [attr.disabled]="L1Clicked" (click)="level1OnClick()">
          <input type="button" class="btn btn-secondary btn-lg level-btn" value="L2" [attr.disabled]="L2Clicked" (click)="level2OnClick()">
          <input type="button" class="btn btn-secondary btn-lg level-btn" value="L3" [attr.disabled]="L3Clicked" (click)="level3OnClick()">
       </div>  
       <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
         <label>Remark:</label>
         <textarea name="remarks" [(ngModel)]="remarks" id="remarks" cols="70" rows="7" required></textarea>
       </div> 
   </div> 
   <div class="row">
     <div *ngFor="let skill of addedSkills; let i = index">
       <label for="skills" class="col-md-0 col-lg-0 col-xs-1 control-label m-t-10">{{skill.skillName}}</label>
      <div class="col-md-3 col-lg-5 col-xs-2 slider" data-role="rangeslider">
        <span class="slider-range t-10">0</span><input id="skills" type="range" #ref (change)="selectedSkillRating(ref.value,i)" class="form-control col-lg-4 slider-input" min="0" max="20" value="0"><span class="slider-range">20</span>
      </div>
     </div>
     <div class="col-md-3 col-lg-4 col-xs-2 margin-t-10">
        <label for="other" class="col-md-0 col-lg-0 col-xs-1 control-label col-lg-offset-1">Other</label>
        <div class="col-md-3 col-lg-9 col-lg-offset-1 col-xs-2">
          <input type="text" id="other" name="otherSkill" [(ngModel)]="otherSkill" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="row margin-t-20">
    <div class="form-group col-lg-5">
        <label class="col-md-4 col-lg-1 col-lg-offset-1 col-xs-1 control-label">Strength</label>
        <div class="col-md-8 col-lg-9 col-lg-offset-1 col-xs-2">
          <input type="text" class="form-control" name="strength" [(ngModel)]="strength" required>
        </div>
    </div>
    <div class="form-group col-lg-5">
        <label class="col-md-4 col-lg-1 col-lg-offset-1 col-xs-1 control-label">Weakness</label>
        <div class="col-md-8 col-lg-9 col-lg-offset-1 col-xs-2">
          <input type="text" class="form-control" name="weakness" [(ngModel)]="weakness" required>
        </div>
    </div>
  </div>
   <div class="col-lg-offset-9 btns-grp">
     <button type="reset" class="btn btn-primary btn-md col-lg-3" value="Reset">
        <span class="fa fa-refresh"></span> Reset 	 
	 </button>
     <button type="button" class="btn btn-primary btn-md col-lg-3 btn-spacing" value="Cancel" (click)="onCancelBtnClick()">
		<span class="fa fa-times"></span> Cancel
	 </button>
     <button type="submit"  class="btn btn-primary btn-md col-lg-3 btn-spacing" value="Save"  [disabled]="!addAssociateForm.form.valid" >
		<span class="fa fa-floppy-o"></span> Save
	 </button>
   </div>
    </form>
  </div>
  </body>
</html>
