<html>
  <body>
    <div class="container-fluid skill-container">
      <h1 class="header">
          Add Skill
      </h1>
      <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade in">
          <strong>Success! </strong>{{successMessage}}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in">
          <strong>Server Error! </strong>{{errorMessage}}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
	  <div class="form-div col-lg-8 col-lg-offset-2">
      <form #addSkillForm="ngForm" class="form-horizontal form-container" (ngSubmit)="addSkills(addSkillForm)">
      <!--<div class="form-group col-lg-6 div-style">
        <label>Add Skill : </label>
        <input type="text" class="form-control col-lg-2 col-lg-offset-2" name="skillName" [(ngModel)]="skillName">
        <button type="submit" class="col-lg-1 col-lg-offset-1">
			<span class="fa fa-plus"></span>
		</button>
      </div> -->
	  <div class="form-group" id="add-skill-div">
        <label class="col-sm-4 col-md-4 col-lg-2 col-xs-2 control-label">Add Skill </label>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 div-style">
          <input type="text" id="skill-name" class="form-control" name="skillName" [(ngModel)]="skillName" required>
		  <button type="submit" class="col-lg-1 btn btn-default add-btn">
			<span class="fa fa-plus"></span>
		  </button>
        </div>
      </div>
      <table class="add-skill-table col-xs-offset-2 col-sm-offset-4 col-md-offset-4 col-lg-offset-2">
        <tr *ngFor = "let skill of addedSkills; let i = index">
          <td class="td-style">
            <div>
              <input type="text" class="form-control" #textbox [attr.id]="'skill-' + i"  [value]="skill.skillName" [attr.disabled]="skill.isEdit?null:''">
            </div>
          </td>
          <td class="td-style">
            <input class="btn btn-info edit-btn"  type="button" [attr.id]="'editBtn' + i" value="Edit" (click)="editSkill(skill.skillId,skill.skillName,$event,i)">
        </td>
        <td class="td-style">
            <button class="btn btn-primary btn-md" type="button" value="Delete" (click)="deleteSkill(skill,i)">
				<span class="fa fa-trash"></span> Delete
			</button>
        </td>
        </tr>
      </table>
      </form>
	  </div>
    </div>
  </body>
</html>
