<html>
  <body>
    <div class="container-fluid skill-container">
      <h1 class="header">
          Add Skill
      </h1>
	  <div class="form-div">
      <form #addSkillForm="ngForm" class="form-horizontal form-container" (ngSubmit)="addSkills(addSkillForm)">
      <div class="form-group col-lg-6 div-style">
        <label>Add Skill : </label>
        <input type="text" class="form-control col-lg-2 col-lg-offset-2" name="skillName" [(ngModel)]="skillName">
        <button type="submit" class="col-lg-1 col-lg-offset-1">
			<span class="fa fa-plus"></span>
		</button>
      </div>
      <table>
        <tr *ngFor = "let skill of addedSkills; let i = index">
          <td>
            <div>
              <input type="text" class="form-control" #textbox [attr.id]="'skill-' + i"  [value]="skill.skillName" [attr.disabled]="skill.isEdit?null:''">
            </div>
          </td>
          <td>
            <input class="btn btn-info"  type="button" [attr.id]="'editBtn' + i" value="Edit" (click)="editSkill(skill.skillId,skill.skillName,$event,i)">
        </td>
        <td>
            <button class="btn btn-primary btn-md" type="button" value="Delete" (click)="deleteSkill(skill,i)">
				<span class="fa fa-trash"></span> Delete
			</button>
        </td>
        </tr>
      </table>
      </form>
	  </div>
    </div>
  </body>
</html>
