<html>
  <body>
    <div class="container-fluid">
      <h1>
          Add Skill
      </h1>
      <form #addSkillForm="ngForm" class="form-horizontal form-container" (ngSubmit)="addSkills(addSkillForm)">
      <div>
        <label>Add Skill : </label>
        <input type="text" class="form-control" name="skillName" [(ngModel)]="skillName">
        <input type="submit" value="Add">
      </div>
      <table>
        <tr *ngFor = "let skill of addedSkills; let i = index">
          <td>
            <div>
              <input type="text" class="form-control" #textbox [attr.id]="'skill-' + i"  [value]="skill.skillName">
            </div>
          </td>
          <td>
            <input class="btn btn-info"  type="button" [attr.id]="'editBtn' + i" value="Edit">
        </td>
        <td>
            <input class="btn btn-danger" type="button" value="Delete" (click)="deleteSkill(skill,i)">
        </td>
        </tr>
      </table>
      </form>
    </div>
  </body>
</html>
