<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid navbar-height">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="home"><span class="glyphicon glyphicon-home"></span></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="searchAssociate" id="search-navbar">Search</a></li>
        <li><a routerLink="addSkill" id="add-skill-navbar">Add Skill</a></li>
        <!--<li><a routerLink="tracker">Tracker</a></li> -->
      </ul> 
       
    </div>
    
  </nav>
  <router-outlet></router-outlet>
  </div>

