<html>
  <body>
    <div class="search-container container-fluid">
    <div class="header-div">
      <h1 class="header col-lg-offset-1">
      Search Associate
      </h1>
    </div>
    <div class="skill-graph">
        <canvas class="canvas-styles"
        baseChart
        [chartType]="'horizontalBar'"
        [datasets]="skillsData"
        [options]="chartOptions"
        [legend]="true">
        </canvas>
    </div>
    <div class="col-lg-offset-10 position2">
      <div class="btn btn-info percent-height">{{l2CandidatePercentage}}%<br/>Level 2<br/>Candidates</div>
    </div>
    <div class="col-lg-offset-10 position2 m-t-10">
        <div class="btn btn-info percent-height">{{l3CandidatePercentage}}%<br/>Level 3<br/>Candidates</div>
      </div>
    <div class="percent row">
        <div class="btn btn-lg btn-primary col-sm-1 percent-height margin-l-10">{{candidatesRegistered}}<br/>Registered<br/>Candidates</div>
        <div class="btn btn-lg btn-primary col-sm-1 percent-height margin-l-10">{{femaleCandidatesPercentage}}%<br/>Female<br/>Candidates</div>
        <div class="btn btn-lg btn-primary col-sm-1 percent-height margin-l-10">{{maleCandidatesPercentage}}%<br/>Male<br/>Candidates</div>
        <div class="btn btn-lg btn-primary col-sm-1 percent-height margin-l-10">{{l1CandidatePercentage}}%<br/>Candidates<br/>Freshers</div>
        <div class="btn btn-lg btn-primary col-sm-1 percent-height margin-l-10">Candidates<br/>Rated</div>
        <div class="btn btn-lg btn-primary col-sm-1 percent-height margin-l-10">Female<br/>Candidates<br/>Rated</div>
        <div class="btn btn-lg btn-primary col-sm-1 percent-height margin-l-10">Male<br/>Candidates<br/>Rated</div>
        <div class="btn btn-lg btn-info col-sm-1 percent-height margin-l-10">{{l1CandidatePercentage}}%<br/>Level 1<br/>Candidates</div>
    </div>
    <div class="div-position">
    <table id="searchAssociates" class="table table-striped table-hover">
        <thead>
            <tr>
              <th>Pic</th>
              <th>Status</th>
              <th><input type="text" class="form-control" placeholder="Search By Name" name="searchByName" [(ngModel)]="searchByName"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Associate ID" name="searchByAssociateId" [(ngModel)]="searchByAssociateId"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Email ID" name="searchByEmail" [(ngModel)]="searchByEmail"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Mobile Number" name="searchByMobile" [(ngModel)]="searchByMobile"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Strong Skills" name="searchByStrongskills" [(ngModel)]="searchByStrongskills"/></th>
              <th>
                <button type="button" value="Add New Associate" class="btn btn-lg btn-success" [routerLink]="['/addAssociate']">
                <span class="glyphicon glyphicon-plus"></span> Add New Associate 
              </button>
              </th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor = "let data of associateData | filter: { name: searchByName, associateId: searchByAssociateId,email: searchByEmail,mobileNum: searchByMobile, associateSkills:searchByStrongskills} : searchByName:searchByAssociateId:searchByEmail:searchByMobile:searchByStrongskills; let i =  index">
            <td>
              <img src="http://localhost:8090/getAssociatePic/{{data.associateId}}" width="40px" height="40px">
            </td>
            <td>
              <div *ngIf="data.statusGreen==true;else checkStatusBlue" class="status-green"></div>
              <ng-template #checkStatusBlue>
                  <div *ngIf="data.statusBlue == true;else checkStatusRed" class="status-blue"></div>
              </ng-template>
              <ng-template #checkStatusRed>
                  <div *ngIf="data.statusRed == true" class="status-red"></div>
              </ng-template>
            </td>
            <td>{{data.name}}</td>
            <td>{{data.associateId}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobileNum}}</td>
            <td>
              <span *ngFor= "let associateSkill of data.associateSkills; let i = index">
                {{associateSkill.skillName}}{{i === data.associateSkills.length-1 ? '' : ', '}}
              </span>
            </td>
            <td class="td-style">
              <button type="button" value="Edit" class="btn btn-primary btn-md" [routerLink]="['/editAssociate']" (click)="onEdit(data,$event)">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
              <button type="button" value="Delete" class="btn btn-primary btn-md btn-style" (click)="onDeleteBtnClick(data,i)">
                  <span class="glyphicon glyphicon-remove"></span> Delete 
              </button>
              <button type="button" value="View" class="btn btn-primary btn-md btn-style" [routerLink]="['/editAssociate']" (click)="onEdit(data,$event)">
                <span class="glyphicon glyphicon-eye-open"></span> View 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </body>
</html>
