.search-container{
    position: relative;
    top: -16px;
    background: #f4f6f9;
}

.info-box-content {
    padding: 5px 10px;
    flex: 1;
}
div {
    display: block;
}

body{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.info-box{
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    padding: .5rem;
    min-height: 105px;
    background: #fff;
    display: inline-flex !important;
}

.info-box-text {
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.info-box-number{
    display: block;
    font-weight: 700;
    font-size: 26px;
}

.bg-info{
    color: #fff!important;
    background-color: #17a2b8!important;
} 

.bg-female{
    color: #fff!important;
    background-color: #c73939c2 !important;
}

.bg-male{
    color: #fff!important;
    background-color: #ffae00 !important;
}

.bg-fresher{
    color: #fff!important;
    background-color: #078c05d9 !important;
}

.bg-rated{
	color: #fff!important;
    background-color: #f57202db !important;
}

.bg-level1{
	color: #fff!important;
    background-color: #755a5a !important;
}

.bg-level2{
	color: #fff!important;
    background-color: #85dc5dcc !important;
}

.bg-level3{
	color: #fff!important;
    background-color: #6260e2 !important;
}

.bg-female-rated{
	color: #fff!important;
    background-color: #9a1ca9d1 !important;
}
.bg-male-rated{
	color: #fff!important;
    background-color: #58a5e6 !important;
}


.elevation-1{
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.info-box-icon {
    border-radius: .25rem;
    display: flex!important;
    width: 82px;
    height: 71px;
    text-align: center;
    font-size: 30px;
    align-items: center!important;
    justify-content: center!important;
}

.status-green{
    width:40px;
    height: 40px;
    background-color: rgb(131, 207, 8);
}

.status-blue{
    width:40px;
    height: 40px;
    background-color: rgb(34, 30, 240);
}

.status-red{
    width:40px;
    height: 40px;
    background-color: rgb(223, 26, 12);
}

.btn-style{
    margin-left: 5px;
}

.header-div{
    /* background-image: url(../images/background-0.png); */
    margin-top: -20px;
    margin-left: -16px;
    height: 120px;
    margin-bottom: 68px;
}

h1{
    display: inline-block;
    color: white;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-top: 47px;
	color: black;
}

.skill-graph{
    width: 86%;
    height: 200px;
    /* background-color: red; */
    margin-top: -10px;
}
 @media(min-width:641px){
    .percent{
		width: 100%;
		height: 135px;
		display: inline-block;
		position: relative;
		bottom: 195px !important;
	}
}

@media(min-width:962px){
	.percent{
		width: 100%;
		height: 135px;
		display: inline-block;
		position: relative;
		bottom: 248px !important;
	}
}

@media(min-width:992px){
	.percent{
		width: 100%;
		height: 135px;
		display: inline-block;
		position: relative;
		bottom: 344px !important;
	}
}

@media (min-width: 1025px){
	.percent {
		width: 100%;
		height: 135px;
		display: inline-block;
		position: relative;
		bottom: 349px !important;
	}
}
@media(min-width:1200px){
	.percent{
		width: 100%;
		height: 135px;
		display: inline-block;
		position: relative;
		bottom: 455px !important;
	}
}


@media(min-width:961px) and (max-width:1025px){
	.info-width{
		width: 150px;		
	}
}

.row1{
    display: inline-block;
}
.margin-l-10{
    /* margin-left: 14px; */
    margin-top: 5px;
}

.btn-position{
    position: relative;
    bottom: 180px;
}
@media(max-width:640px){
	.position2{		
		margin-top: 60px;
	}
}
@media(min-width:641px){
	.position2{
		float: right;    
		position: relative;
		bottom: 221px;
		right: 50px;
	}
}

@media(min-width:961px){
	.position2{
		float: right;    
		position: relative;
		bottom: 251px;
		right: 0px;
	}
}
@media (min-width: 1025px){
	.position2 {
		float: right;
		position: relative;
		bottom: 252px;
		right: 0px;
	}
}
@media(min-width:1200px){
	.position2{
		float: right;    
		position: relative;
		bottom: 367px;
		right: 0px;
	}
}

@media(min-width:641px){
	.position4{
		float: right;    
		position: relative;
		bottom: 196px;
		right: 50px;
	}
}
@media(min-width:768px){
	.position4{
		float: right;    
		position: relative;
		bottom: 356px;
		right: 0px;
	}
}
@media(min-width:961px){
	.position4{
		float: right;    
		position: relative;
		bottom: 246px;
		right: 0px;
	}
}
@media(min-width:992px){
	.position4{
		float: right;    
		position: relative;
		bottom: 364px;
		right: 0px;
	}
}
@media (min-width: 1025px){
	.position4 {
		float: right;
		position: relative;
		bottom: 362px;
		right: 0px;
	}
}
@media(min-width:1200px){
	.position4{
		float: right;    
		position: relative;
		bottom: 470px;
		right: 0px;
	}
}
@media(max-width:640px){
	.position1{
		margin-right: 87px !important;
		margin-left: 14px;		
		margin-top: 60px;
	}
}
@media(min-width:641px){
	.position1{
		position: relative;
		bottom: 228px;
		left: 56px;  
	}
}

@media(min-width:961px){
	.position1{
		position: relative;
		bottom: 258px;
		left: 69px;  
	}
}

@media (min-width: 1025px){
	.position1 {
		position: relative;
		bottom: 258px;
		left: 57px;
	}
}

@media (min-width: 1200px){
	.position1{
		position: relative;
		bottom: 258px;
		left: 85px;
	}
}
@media(min-width:1281px){
	.position1{
		position: relative;
		bottom: 258px;
		left: 97px;  
	}
}
@media(max-width:640px){
	.position3{
		margin-right: 87px !important;
		margin-left: 14px;
	}
}
@media(min-width:641px){
	.position3{
		position: relative;
		bottom: 202px;
		left: 56px;  
	}
}
@media(min-width:961px){
	.position3{
		position: relative;
		bottom: 251px;
		left: 74px;  
	}
}
@media (min-width: 1025px){
	.position3 {
		position: relative;
		bottom: 251px;
		left: 57px;
	}
}

@media(min-width:1200px){
	.position3{
		position: relative;
		bottom: 356px;
		left: 93px;  
	}
}

.m-r-20{
    margin-right: 20px;
}

@media(max-width:640px){
	.div-position{
		position: relative;
		bottom: 90px;
	}
}
@media(min-width:641px){
	.div-position{
		position: relative;
		bottom: 99px !important;
	}	
}

@media(min-width:961px){
	.div-position{
		position: relative;
		bottom: 261px !important;
	}
}
@media(min-width:992px){
	.div-position{
		position: relative;
		bottom: 358px !important;
	}
}
@media (min-width: 1025px){
	.div-position {
		position: relative;
		bottom: 359px !important;
	}
}

@media(min-width:1200px){
	.div-position{
		position: relative;
		bottom: 452px !important;
	}
}

.td-style {
    width: 255px;
}

.m-t-10{
    margin-top: 10px;
}

@media(min-width: 641px){
	.canvas-styles{
		height: 292px !important;
		position: relative;
		bottom: 58px;
		width: 351px !important;
	}
}
@media(min-width: 768px){
	.canvas-styles{
		height: 292px !important;
		position: relative;
		bottom: 58px;
		width: 584px !important;
	}
}

@media(min-width: 961px){
	.canvas-styles{
		height: 238px !important;
		position: relative;
		bottom: 58px;
		width: 596px !important;
	}
}

@media(min-width: 992px){
	.canvas-styles{
		height: 238px !important;
		position: relative;
		bottom: 58px;
		width: 638px !important;
	}
}

@media(min-width: 1025px){
	.canvas-styles{
		height: 238px !important;
		position: relative;
		bottom: 58px;
		width: 638px !important;
	}
}
@media(min-width: 1200px){
	.canvas-styles{
		height: 238px !important;
		position: relative;
		bottom: 58px;
		width: 744px !important;
	}
}

@media(max-width: 640px){
	.level3-style{
		position: relative;
		bottom: 103px;
		float: left;
		display: table-column;
		margin-right: 10px;
	}
}
@media(max-width: 640px){
	.malecandidate{
		position: relative;
		top: 224px;
		float: left;
		display: contents;
	}
}

.circle-style{
    position: relative;
    width: 53px;
    height: 51px;
    border-radius: 75px;
    bottom: 32px;
    border-width: 1.5px;
    border-color: #64cbd8;
}

.span-style{
    display: block;
    position: relative;
    bottom: 26px;
    white-space: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 15px;
}
.fa-style{
    position: relative;
    right: 9px;
}

.color1{
    border:none;
    background: linear-gradient(#7dbbc7,#5bcbda,#88a1d2);
}

.fa-color{
    color: #3a9ca9;
}

.table>tbody>tr>td{
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}





