<html>
  <body>
    <section class="content">
    <div class="search-container container-fluid">
    <div class="header-div">
      <h1 class="header col-lg-5">
      Search Associate
      </h1>
    </div>
    <div class="skill-graph">
        <canvas baseChart #baseChart="base-chart"  
        class="canvas-styles info-box"
        baseChart
        [chartType]="'horizontalBar'"
        [datasets]="skillsData"
        [options]="chartOptions"
        [colors]="chartColor"
        [legend]="true"
        (chartClick)="chartClicked($event)">
        </canvas>
    </div>
   <div class="row">
    <div class="col-xs-2 col-xs-offset-5 col-sm-2 col-md-2 col-md-offset-7 col-sm-offset-7 col-lg-2 margin-l-10 col-lg-offset-7 position1 m-r-20">
        <div class="info-box info-width">
          <span class="info-box-icon bg-male-rated elevation-1">
              <i class="fa fa-users"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Male Candidates Rated</span>
            <span class="info-box-text info-box-number">{{l2CandidatePercentage}}%</span>           
          </div>
        </div>
      </div> 
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 margin-l-10 col-lg-offset-9 position2 m-r-20">
        <div class="info-box info-width">
          <span class="info-box-icon bg-level1 elevation-1">
            <b>L1</b>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Level 1 Candidates</span>
            <span class="info-box-text info-box-number">{{l1CandidatePercentage}}%</span>           
          </div>
        </div>
     </div> 
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-7 col-lg-2 margin-l-10 col-xs-offset-5 col-sm-offset-7 col-lg-offset-7 position3 m-r-20">
            <div class="info-box info-width">
              <span class="info-box-icon bg-female-rated elevation-1">
                  <i class="fa fa-users"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Female Candidates Rated</span>
                <span class="info-box-text info-box-number">{{l2CandidatePercentage}}%</span>           
              </div>
            </div>
         </div> 
     <div class="col-xs-2 col-sm-2 col-md-2 col-md-offset-6 col-lg-2 margin-l-10 col-lg-offset-9 position4 m-r-20">
        <div class="info-box info-width">
          <span class="info-box-icon bg-level2 elevation-1">
            <b>L2</b>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Level 2 Candidates</span>
            <span class="info-box-text info-box-number">{{l2CandidatePercentage}}%</span>           
          </div>
        </div>
     </div> 
    </div>
    <div class="percent row">   
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 margin-left-10">
            <div class="info-box info-width">
              <span class="info-box-icon bg-info elevation-1">
                  <i class="fa fa-users"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Registered Candidates</span>
                <span class="info-box-text info-box-number">{{candidatesRegistered}}</span>           
              </div>
            </div>
       </div>       
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 margin-l-10">
        <div class="info-box info-width">
          <span class="info-box-icon bg-female elevation-1">
              <i class="fa fa-female"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Female Candidates</span>
            <span class="info-box-text info-box-number">{{femaleCandidatesPercentage}}%</span>           
          </div>
        </div>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 rated-margin malecandidate">
            <div class="info-box info-width">
              <span class="info-box-icon bg-male elevation-1">
                  <i class="fa fa-male"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Male Candidates</span>
                <span class="info-box-text info-box-number">{{maleCandidatesPercentage}}%</span>           
              </div>
            </div>
          </div>
         <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 freshers">
            <div class="info-box info-width">
              <span class="info-box-icon bg-fresher elevation-1">
                  <i class="fa fa-graduation-cap"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Candidates Freshers</span>
                <span class="info-box-text info-box-number">{{l1CandidatePercentage}}%</span>           
              </div>
            </div>
         </div>    
         <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 rated-margin">
            <div class="info-box info-width">
              <span class="info-box-icon bg-rated elevation-1">
                  <i class="fa fa-star"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Candidates Rated</span>
                <span class="info-box-text info-box-number">{{l1CandidatePercentage}}%</span>           
              </div>
            </div>
         </div> 
         <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 margin-left-10 level3-style">
            <div class="info-box info-width">
              <span class="info-box-icon bg-level3 elevation-1">
                  <b>L3</b>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">Level 3 Candidates</span>
                <span class="info-box-text info-box-number">{{l3CandidatePercentage}}%</span>           
              </div>
            </div>
         </div>      
    </div>
    <div class="div-position info-box table-responsive">
    <table id="searchAssociates" class="table table-dark table-hover">
        <thead>
            <tr>
              <th>Pic</th>
              <th>Status</th>
              <th><input type="text" class="form-control" placeholder="Search By Name" name="searchByName" [(ngModel)]="searchByName"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Associate ID" name="searchByAssociateId" [(ngModel)]="searchByAssociateId"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Email ID" name="searchByEmail" [(ngModel)]="searchByEmail"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Mobile Number" name="searchByMobile" [(ngModel)]="searchByMobile"/></th>
              <th><input type="text" class="form-control" placeholder="Search By Strong Skills" name="searchByStrongskills" [(ngModel)]="searchByStrongskills"/></th>
              <th>
                <button type="button" value="Add New Associate" class="btn btn-lg btn-success" [routerLink]="['/addAssociate']">
                <span class="fa fa-user-plus"></span> Add New Associate 
              </button>
              </th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor = "let data of associateData | filter: { name: searchByName, associateId: searchByAssociateId,email: searchByEmail,mobileNum: searchByMobile, associateSkills:searchByStrongskills} : searchByName:searchByAssociateId:searchByEmail:searchByMobile:searchByStrongskills; let i =  index">
            <td>
              <img src="http://localhost:8090/getAssociatePic/{{data.associateId}}" width="40px" height="40px">
            </td>
            <td>
              <div *ngIf="data.statusGreen==true;else checkStatusBlue" class="status-green"></div>
              <ng-template #checkStatusBlue>
                  <div *ngIf="data.statusBlue == true;else checkStatusRed" class="status-blue"></div>
              </ng-template>
              <ng-template #checkStatusRed>
                  <div *ngIf="data.statusRed == true" class="status-red"></div>
              </ng-template>
            </td>
            <td>{{data.name}}</td>
            <td>{{data.associateId}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobileNum}}</td>
            <td>
              <span *ngFor= "let associateSkill of data.associateSkills; let i = index">
                {{associateSkill.skillName}}{{i === data.associateSkills.length-1 ? '' : ', '}}
              </span>
            </td>
            <td class="td-style">
              <button type="button" value="Edit" class="btn btn-primary btn-md" [routerLink]="['/editAssociate']" (click)="onEdit(data,$event)">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
              <button type="button" value="Delete" class="btn btn-primary btn-md btn-style" (click)="onDeleteBtnClick(data,i)">
                  <span class="fa fa-trash"></span> Delete 
              </button>
              <button type="button" value="View" class="btn btn-primary btn-md btn-style" [routerLink]="['/editAssociate']" (click)="onEdit(data,$event)">
                <span class="glyphicon glyphicon-eye-open"></span> View 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    </section>
  </body>
</html>
