.search-container{
    position: relative;
    top: 0px;
}

.status-green{
    width:40px;
    height: 40px;
    background-color: rgb(131, 207, 8);
}

.status-blue{
    width:40px;
    height: 40px;
    background-color: rgb(34, 30, 240);
}

.status-red{
    width:40px;
    height: 40px;
    background-color: rgb(223, 26, 12);
}

.btn-style{
    margin-left: 5px;
}

.header-div{
    background-image: url(../images/header-icon-1.png);
    margin-top: -20px;
    margin-left: -16px;
    height: 120px;
    margin-bottom: 15px;
}

h1{
    display: inline-block;
    color: white;
    font-family: Verdana;
    margin-top: 47px;
}

.skill-graph{
    width: 86%;
    height: 200px;
    /* background-color: red; */
    margin-top: -10px;
}

.percent{
    width: 100%;
    height: 100px;
    display: inline-block;
    position: relative;
    bottom: 173px;
}

@media(min-width:900px){
    .percent-height{
        height: 90px;
        cursor: auto;
        width: 151px;
    }
}

@media(min-width:1400px){
    .percent-height{
        height: 90px;
        cursor: auto;
        width: 167px;
    }
}


.margin-l-10{
    margin-left: 14px;
    margin-top: 5px;
}

.btn-position{
    position: relative;
    bottom: 180px;
}

.position2{
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 194px;
}

.div-position{
    position: relative;
    bottom: 183px;
}

.td-style {
    width: 255px;
}

.m-t-10{
    margin-top: 10px;
}

.canvas-styles{
    height: 265px !important;
    position: relative;
    bottom: 26px;
}

.circle-style{
    position: relative;
    width: 53px;
    height: 51px;
    border-radius: 75px;
    bottom: 32px;
    border: none;
}

.span-style{
    display: block;
    position: relative;
    bottom: 26px;
    white-space: normal;
}
.fa-style{
    position: relative;
    right: 9px;
}

.color1{
    background-color: #F1948A;
}

.color2{
    background-color:#F5B7B1;
}



